.btn.btn-top.btn-primary{href: '#profile-email-modal', 'data-toggle' => 'modal', title: t('users.show.send_email')}
  .icon-file-alt
  =t 'profile_emails.index.new_application'
.btn.btn-default{href: '#help-modal', 'data-toggle' => 'modal', title: t('profile_emails.index.need_help')}
  =t 'users.show.need_help'