.btn.btn-top.btn-primary{href: '#profile-email-modal', 'data-toggle' => 'modal', title: t('profile_emails.new.modal_title.current_user')}
  .icon-file-alt
  =t 'profile_emails.index.new_application'
//.btn=t 'profile_emails.index.need_help'