.span12#profile-emails
  - @profile_emails_by_date.each do |date_hash|
    %br/
    #date
      .row-fluid
        .span12
          %h2= "#{t('date.month_names')[date_hash[:date].first].humanize} #{date_hash[:date].second}"
      .row-fluid
        .span12
          - date_hash[:profile_emails].each do |profile_email|
            = render 'profile_emails/thumb', profile_email: profile_email
