=t 'mailers.user.text_email.title', fullname: @user.fullname
<br>
<br>
<br>
=t 'mailers.user.text_email.content', fullname: @user.fullname
<br>
<br>
=t 'mailers.user.text_email.go_to_url', url: @user.public_url
<br>
<br>
<br>
= t('mailers.user.text_email.cheers')
= t('mailers.user.text_email.team')