<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Dominic Matheron on Joblr</title>
    <link href="mailers/user_mailer/share_profile_alt.css" rel="stylesheet" media="all" type="text/css" />
  </head>

  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>

      <!-- Background table -->
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="background-table">
        <tr>
          <td align="center" valign="top">

            <!-- Container table -->
            <table border="0" cellpadding="0" cellspacing="0" id="container-table">
              <tr>
                <td align="center" valign="top" width="600">

                  <!-- Header table -->
                  <table border="0" cellpadding="0" cellspacing="0" id="header-table">
                    <tr>
                      <td align="center" valign="bottom" height="54" width="560">
                        <p class="graylight-text">Having trouble reading this email? View it on <a href='#'>Joblr.co</a></p>
                      </td>
                    </tr>
                  </table>
                  <!-- End of header table -->

                </td>
              </tr>
              <tr>
                <td align="center" valign="top">

                  <!-- Body table -->
                  <table border="0" cellpadding="20" cellspacing="0" id="body-table">
                    <tr>
                      <td align="center" valign="top" width="560">

                        <!-- Message table -->
                        <table border="0" cellpadding="10" cellspacing="0" id="message-table">
                          <tr>
                            <td align="center" valign="top" width="560">

                              <!-- Text table -->
                              <table border="0" cellpadding="0" cellspacing="0" id="text-table">
                                <tr>
                                  <td align="left" valign="top" width="480">
                                    <h1>Especially receptive to lessons from The Lean Startup, Steven Blank, 37signals and Apple, I have a passion for great products and startups!</h1>
                                  </td>
                                </tr>
                              </table>
                              <!-- Enf of text table -->

                            </td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" width="480">

                              <!-- Buttons table -->
                              <table border="0" cellpadding="0" cellspacing="0" id="buttons-table">
                                <tr>
                                  <td align="left" valign="middle" height="110" width="200">

                                    <!-- Button left table -->
                                    <table border="0" cellpadding="0" cellspacing="0" id="button-left-table">
                                      <tr>
                                        <td align="center" valign="middle" height="50" width="170">
                                          <a href="#">Let's talk!</a>
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- End of button left table -->

                                  </td>
                                  <td align="right" valign="middle" height="110" width="280">

                                    <!-- Button right table -->
                                    <table border="0" cellpadding="0" cellspacing="0" id="button-right-table">
                                      <tr>
                                        <td align="left" valign="middle" width="280">
                                          <a href="#">No thanks, not interested</a>
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- End of right left table -->

                                  </td>
                                </tr>
                              </table>
                              <!-- End of buttons table -->

                            </td>
                          </tr>
                        </table>
                        <!-- End of message table -->

                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top" width="560">

                        <!-- Profile table -->
                        <table border="0" cellpadding="0" cellspacing="0" id="profile-table">
                          <tr>
                            <td align="center" valign="top" width="560">

                              <!-- Identity table -->
                              <table border="0" cellpadding="25" cellspacing="0" id="identity-table">
                                <tr>
                                  <td align="center" valign="bottom" height="105" width="560">

                                    <!-- Identity content -->
                                    <table border="0" cellpadding="0" cellspacing="0" id="identity-content">
                                      <tr>
                                        <td align="left"  valign="top" width="120">
                                          <img src="https://si0.twimg.com/profile_images/2030553072/twitter_reasonably_small.jpg" alt="image picture" height="90" width="90" />
                                        </td>
                                        <td align="left" valign="top" width="360">
                                          <h2>Dominic Matheron</h2>
                                          <p class="graylight-text">Amsterdam, Netherlands</p>
                                          <p class="info-text">Co-founder at Joblr!</p>
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- End of identity content -->

                                  </td>
                                </tr>
                              </table>
                              <!-- End of identity table -->

                            </td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" width="560">

                              <!-- Experience table -->
                              <table border="0" cellpadding="10" cellspacing="0" id="experience-table">
                                <tr>
                                  <td align="center" valign="top" width="560">

                                    <!-- Experience content -->
                                    <table border="0" cellpadding="0" cellspacing="0" class="experience-content">
                                      <tr>
                                        <td align="left" valign="top" width="120">

                                          <!-- Experience in years -->
                                          <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                              <td align="left" valign="top" width="90">
                                                <h4>Experience</h4>
                                                <p class="lead">3 yrs</p>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>

                                        <td align="left" valign="top" width="360">
                                          <h4>Last or current job</h4>
                                          <p class="lead">Product owner at Viadeo</p>
                                          <p class="past-companies"><small>Also worked for</small><br />Joblr, LTB Jeans, Transport Marketplace</p>
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- End of experience content -->

                                  </td>
                                </tr>
                              </table>
                              <!-- End of experience table -->

                            </td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" width="560">

                              <!-- Education table -->
                              <table border="0" cellpadding="10" cellspacing="0" id="education-table">
                                <tr>
                                  <td align="center" valign="top" width="560">

                                    <!-- Education content -->
                                    <table border="0" cellpadding="0" cellspacing="0" class="education-content">
                                      <tr>
                                        <td align="left" valign="top" width="480">
                                          <h4>Highest education</h4>
                                          <p class="lead">Master's degree, Transnational Relations and International Cooperation</p>
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- End of education content -->

                                  </td>
                                </tr>
                              </table>
                              <!-- End of education table -->

                            </td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" width="560">

                              <!-- Skills table -->
                              <table border="0" cellpadding="10" cellspacing="0" id="skills-table">
                                <tr>
                                  <td align="center" valign="top" width="560">

                                    <!-- Skills content -->
                                    <table border="0" cellpadding="0" cellspacing="0" class="skills-content">
                                      <tr>
                                        <td align="left" valign="top" width="480">
                                          <h4>Professional skills</h4>
                                          <p class="lead">Product development</p>
                                          <p class="lead">Ruby on rails</p>
                                          <p class="lead">Sales &amp; support</p>
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- End of skills content -->

                                  </td>
                                </tr>
                              </table>
                              <!-- End of skills table -->

                            </td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" width="560">

                              <!-- Qualities table -->
                              <table border="0" cellpadding="10" cellspacing="0" id="qualities-table">
                                <tr>
                                  <td align="center" valign="top" width="560">

                                    <!-- Qualities content -->
                                    <table border="0" cellpadding="0" cellspacing="0" class="qualities-content">
                                      <tr>
                                        <td align="left" valign="top" width="480">
                                          <h4>Personal qualities</h4>
                                          <p class="lead">Passion</p>
                                          <p class="lead">Attention to details</p>
                                          <p class="lead">Patience</p>
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- End of qualities content -->

                                  </td>
                                </tr>
                              </table>
                              <!-- End of qualities table -->

                            </td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" width="560">

                              <!-- More table -->
                              <table border="0" cellpadding="20" cellspacing="0" id="more-table">
                                <tr>
                                  <td align="left" valign="top" height="33" width="480">
                                    <a href="#">View Dominic Matheron's complete profile on Joblr.co</a>
                                  </td>
                                </tr>
                              </table>
                              <!-- End of more table -->

                            </td>
                          </tr>
                        </table>
                        <!-- End of profile table -->

                      </td>
                    </tr>
                  </table>
                  <!-- End of body table -->

                </td>
              </tr>
              <tr>
                <td align="center" valign="top" width="560">

                  <!-- Footer table -->
                  <table border="0" cellpadding="10" cellspacing="0" id="footer-table">
                    <tr>
                      <td align="center" valign="top" height="87" width="560">
                        <img src="logo.gif" alt="Joblr.co" height="37" width="124" />
                      </td>
                    </tr>
                  </table>
                  <!-- End of footer table -->

                </td>
              </tr>
            </table>
            <!-- End of container table -->

          </td>
        </tr>
      </table>
      <!-- End of background table -->

    </center>
  </body>
</html>
