=t 'mailers.user.share_profile.text.title', fullname: @user.fullname
<br>
<br>
<br>
=t 'mailers.user.share_profile.text.content', fullname: @user.fullname
<br>
<br>
=t 'mailers.user.share_profile.text.go_to_url', url: @user.public_url
<br>
<br>
<br>
= t('mailers.user.share_profile.text.cheers')
= t('mailers.user.share_profile.text.team')