=t 'mailers.beta_invite.notify_team.title'
<br>
<br>
<br>
=t 'mailers.beta_invite.notify_team.content', email: @beta_invite.email
<br>
<br>
=t 'mailers.beta_invite.notify_team.go_to_url_html', url: 'http://joblr.co/admin'
<br>
<br>
<br>
=t 'mailers.beta_invite.notify_team.cheers'
=t 'mailers.beta_invite.notify_team.team'