%head
  %link{rel:'stylesheet', type:'text/css', href:'/assets/application.css'}
%body
  %h2 Congrats, here's your invitation to joblr alpha!
  %br/
  %br/
  %p
    Thanks for your interest in joblr, we're glad to have you on board. Paste this invitation code at
    = link_to "http://joblr.co/beta_invites/#{@beta_invite.id}/edit", "http://joblr.co/beta_invites/#{@beta_invite.id}/edit"
    and sign up!
  %p Invitation code: #{@beta_invite.code}
  %br/
  %br/
  %p
    Cheers
    %br/
    The joblr team