=t 'mailers.beta_invite.title'


=t 'mailers.beta_invite.content_html', url: "http://joblr.co/beta_invites/#{@beta_invite.id}/edit"

=t 'mailers.beta_invite.code', code: @beta_invite.code


=t 'mailers.beta_invite.cheers'
=t 'mailers.beta_invite.team'