=t 'mailers.beta_invite.send_code.title'
<br>
<br>
<br>
=t 'mailers.beta_invite.send_code.content_html', url: "http://joblr.co/beta_invites/#{@beta_invite.id}/edit"
<br>
<br>
=t 'mailers.beta_invite.send_code.code', code: @beta_invite.code
<br>
<br>
<br>
=t 'mailers.beta_invite.send_code.cheers'
=t 'mailers.beta_invite.send_code.team'