Congrats, here's your invitation to joblr beta!


Thanks for your interest in joblr, we're glad to have you on board. Paste this invitation code at http://joblr.co/beta_invites/#{@invite.id}/edit and sign up!

Invitation code: #{@invite.code}


Cheers
The joblr team