.span3.hidden-phone
.span6
  .row-fluid
    .well#beta-invite
      %h1=t '.title'
      .lead=t '.subtitle'
      %p
        = link_to t('.link'), new_beta_invite_path
      = form_for @beta_invite do |f|
        = f.text_field :code, placeholder: t('.placeholder'), value: ''
        .hidden-desktop
          %br/
        = f.submit t('.button'), class: 'btn btn-small btn-primary'
      .danger-text=t '.asterisk'