.span3.hidden-phone
.span6
  .row-fluid
    .well#beta-invite
      %h1=t '.title'
      .lead=t '.subtitle_html'
      = form_for @beta_invite do |f|
        = f.text_field :email, placeholder: t('.placeholder')
        .hidden-desktop
          %br/
        = f.submit t('.button'), class: 'btn btn-small btn-primary'

- analytical.event('Viewed get a beta invite') unless Rails.env.test?
