/* SCAFFOLDING
   ----------- */

body{
  /*background-color:#e4dfcc;*/
  font-family:Helvetica, Arial, sans-serif;
  font-size:13px;
  line-height:20px;
  color:#444;
}

a{
  color:#0083e0;
}


/* BODY TEXT
   --------- */

p{
  margin-bottom:20px;
  font-weight:300;
}
p small{
  font-size:11px;
  color:#999;
}

.lead{
  font-size:20px;
  font-weight:200;
  line-height:30px;
}
.lead small{
  font-size:16px;
  color:#999;
}

.big{
  margin-bottom:13px;
  font-size:16px;
  font-weight:300;
  line-height:24px;
}
.big small{
  font-size:13px;
  color:#999;
}

.graylight-text{
  color:#999;
}

.danger-text{
  color:#dd3b2e;
}


/* HEADINGS
   -------- */

h1, h2, h3, h4, h5, h6{
  font-family:inherit;
  font-weight:bold;
}

h1{
  font-size:34px;
  line-height:40px;
}
h1 small{
  font-size:20px;
  font-weight:normal;
  color:#999;
}

h2{
  font-size:26px;
  line-height:30px;
}
h2 small{
  font-size:17px;
  font-weight:normal;
  color:#999;
}

h3{
  font-size:20px;
  line-height:30px;
}
h3 small{
  font-size:14px;
  font-weight:normal;
  color:#999;
}

h4{
  width:100%;
  padding-bottom:4px;
  margin-bottom:13px;
  border-bottom:1px solid #ccc;
  font-size:14px;
  font-weight:100;
  color:#ccc;
}
h4 small{
  font-size:12px;
  font-weight:normal;
  color:#999;
}


/* EMAIL LAYOUT
   ------------ */

/* Background */

#background-table{
  background-color:#e4dfcc;
}

/* Header */

#header-table{
  background-color:#444;
}

#header-table #header-image{
  max-width:600px;
}

/* Profile */

#profile-table{
  border:10px solid #cdc7ae;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color:white;
}
#profile-table h4{
  margin-top:20px;
}
#profile-table .lead{
  margin-bottom:10px;
}

/* Indentity */

#identity-table img{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#identity-table h2{
  margin-top:0;
  margin-bottom:10px;
}
#identity-table .graylight-text{
  line-height:19px;
}
#identity-table .danger-text{
  font-weight:500;
}

/* Experience */
#experience-table p{
  margin-bottom:0;
}
#experience-table p{
  margin-bottom:0;
}

/* Skills */
#skills-table img{
  margin-top:4px;
}