#onboarding
  .row-fluid
    .span12
      .big.text
        .icon-check-empty
        &nbsp;
        %span Ok, we know what you're made of
      .big.fullname
        .icon-check-empty
        &nbsp;
        %span Cool, the world sees who you are
      .big.experience
        .icon-check-empty
        &nbsp;
        %span What you did before is pretty clear
      .big.education
        .icon-check-empty
        &nbsp;
        %span Education looks good
      .big.skill_1
        .icon-check-empty
        &nbsp;
        %span Oh and you can do stuff!
      .big.skill_2
        .icon-check-empty
        &nbsp;
        %span And more!
      .big.skill_3
        .icon-check-empty
        &nbsp;
        %span Snap you know about that too?!
      .big.quality_1
        .icon-check-empty
        &nbsp;
        %span Qualities do make a difference :)
      .big.quality_2
        .icon-check-empty
        &nbsp;
        %span That too
      .big.quality_3
        .icon-check-empty
        &nbsp;
        %span You've got quite some attributes!
      .big.url
        .icon-check-empty
        &nbsp;
        %span Online presence, great!
