#buttons
  - unless signed_up?(@user) || @linkedin
    %label=t 'users.edit.import_from'
    %a.btn.btn-top{href: omniauth_authorize_path(:user, 'linkedin')}
      .icon-linkedin
      =t 'users.edit.linkedin'

  %a#submit-placeholder.btn.btn-primary.btn-top
    .icon-ok
    =t 'users.edit.save'

  - if signed_up?(@user)
    %a.btn{href: user_path(@user)}
      =t 'cancel'
    .explanation
      %h5=t 'users.edit.public_profile'
      %p= link_to(@user.public_url, @user.public_url, target: '_blank')
      %p=t 'users.edit.explanation'
      = f.text_field :subdomain, class:'input-small'