#onboarding
  .row
    .span3
      .big.text
        %span Ok, we know what you're made of &nbsp;
        .icon-check-empty
      .big.fullname
        %span Cool, the world sees who you are &nbsp;
        .icon-check-empty
      .big.experience
        %span What you did before is pretty clear &nbsp;
        .icon-check-empty
      .big.education
        %span Education looks good &nbsp;
        .icon-check-empty
      .big.skill_1
        %span Oh and you can do stuff! &nbsp
        .icon-check-empty
      .big.skill_2
        %span And more! &nbsp
        .icon-check-empty
      .big.skill_3
        %span Snap you know about that too?! &nbsp
        .icon-check-empty
      .big.quality_1
        %span Qualities do make a difference :) &nbsp
        .icon-check-empty
      .big.quality_2
        %span That too &nbsp
        .icon-check-empty
      .big.quality_3
        %span You've got quite some attributes! &nbsp
        .icon-check-empty
      .big.url
        %span Online presence, great! &nbsp
        .icon-check-empty
