.row
  .pull-right
    %a.text{href:'#',           rel:'popover', 'data-content' => t('users.edit.text_popover'),           'data-original-title' => t('users.edit.text')} p
    %br/
    %a.fullname{href:'#',       rel:'popover', 'data-content' => t('users.edit.fullname_popover'),       'data-original-title' => t('users.edit.fullname')} p
    %br/
    %a.city{href:'#',           rel:'popover', 'data-content' => t('users.edit.city_popover'),           'data-original-title' => t('users.edit.city')} p
    %br/
    %a.country{href:'#',        rel:'popover', 'data-content' => t('users.edit.country_popover'),        'data-original-title' => t('users.edit.country')} p
    %br/
    %a.headline{href:'#',       rel:'popover', 'data-content' => t('users.edit.headline_popover'),       'data-original-title' => t('users.edit.headline')} p
    %br/
    %a.experience{href:'#',     rel:'popover', 'data-content' => t('users.edit.experience_popover'),     'data-original-title' => t('users.edit.experience')} p
    %br/
    %a.last_job{href:'#',       rel:'popover', 'data-content' => t('users.edit.last_job_popover'),       'data-original-title' => t('users.edit.last_job')} p
    %br/
    %a.past_companies{href:'#', rel:'popover', 'data-content' => t('users.edit.past_companies_popover'), 'data-original-title' => t('users.edit.past_companies')} p
    %br/
    %a.education{href:'#',      rel:'popover', 'data-content' => t('users.edit.education_popover'),      'data-original-title' => t('users.edit.education')} p
    %br/
    %a.skill_1{href:'#',        rel:'popover', 'data-content' => t('users.edit.skills_popover'),         'data-original-title' => t('users.edit.skills')} p
    %br/
    %a.skill_2{href:'#',        rel:'popover', 'data-content' => t('users.edit.skills_popover'),         'data-original-title' => t('users.edit.skills')} p
    %br/
    %a.skill_3{href:'#',        rel:'popover', 'data-content' => t('users.edit.skills_popover'),         'data-original-title' => t('users.edit.skills')} p
    %br/
    %a.skill_1_level{href:'#',  rel:'popover', 'data-content' => t('users.edit.skill_level_popover'),    'data-original-title' => t('users.edit.skill_level')} p
    %br/
    %a.skill_2_level{href:'#',  rel:'popover', 'data-content' => t('users.edit.skill_level_popover'),    'data-original-title' => t('users.edit.skill_level')} p
    %br/
    %a.skill_3_level{href:'#',  rel:'popover', 'data-content' => t('users.edit.skill_level_popover'),    'data-original-title' => t('users.edit.skill_level')} p
    %br/
    %a.quality_1{href:'#',      rel:'popover', 'data-content' => t('users.edit.qualities_popover'),      'data-original-title' => t('users.edit.qualities')} p
    %br/
    %a.quality_2{href:'#',      rel:'popover', 'data-content' => t('users.edit.qualities_popover'),      'data-original-title' => t('users.edit.qualities')} p
    %br/
    %a.quality_3{href:'#',      rel:'popover', 'data-content' => t('users.edit.qualities_popover'),      'data-original-title' => t('users.edit.qualities')} p
    %br/
    %a.url{href:'#',            rel:'popover', 'data-content' => t('users.edit.url_popover'),            'data-original-title' => t('users.edit.url')} p