.well#text
  .row
    .span4
      %small.required=t 'users.edit.text_label'
      %span.danger-text= link_to '*', '#required'
      = text_area :text, :placeholder, value: field_value(:text, @linkedin), placeholder: t('users.edit.text_placeholder'), rows: 3
  .arrow-bottom