#facebook-modal.modal.hide
  .modal-header
    %button.close{type:'button', "data-dismiss" => 'modal'} ×
    %h3
      = image_tag 'facebook.png', style:'margin-right:5px'
      Import from Facebook
  .modal-body
    %input{type:'text', placeholder:'Email address'}
    %br/
    %input{type:'password', placeholder:'Password'}
  .modal-footer
    %a.btn{href:'#', 'data-dismiss' => 'modal'} Close
    %a.btn.btn-primary{href:'#', onclick:"$('#facebook-modal').modal('hide'); import_data('candidate')"} Sign in

#linkedin-modal.modal.hide
  .modal-header
    %button.close{type:'button', 'data-dismiss' => 'modal'} ×
    %h3
      = image_tag 'linkedin.png', style:'margin-right:5px'
      Import from LinkedIn
  .modal-body
    %input{type:'text', placeholder:'Email address'}
    %br/
    %input{type:'password', placeholder:'Password'}
  .modal-footer
    %a.btn{href:'#', 'data-dismiss' => 'modal'} Close
    %a.btn.btn-primary{href:'#', onclick:"$('#linkedin-modal').modal('hide'); import_data('candidate')"} Sign in

#picture-modal.modal.hide
  .modal-header
    %button.close{type:'button', 'data-dismiss' => 'modal'} ×
    %h3 Select your profile picture
  .modal-body
    - unless @user.authentifications_with_picture.nil?
      %h4 Get it from your social network
      - @user.authentifications_with_picture.each do |authentification|
        = image_tag authentification.upic, style:'width:70px; height:70px;'
      %br/
      %br/
    %h4 Or from your computer
    = file_field :image, id:'image_click', style:'position:absolute; z-index:-1'
  .modal-footer
    %a.btn{href:'#', 'data-dismiss' => 'modal'} Close
    %a.btn.btn-primary{href:'#', onclick:"$('#picture-modal').modal('hide');"} Submit