#help-modal.modal.hide
  .modal-header
    %a.close.hidden-phone{href: '#', 'data-dismiss' => 'modal'} &times;
    %h3=t 'users.help_modal.title'
  .modal-body
    %h5=t 'users.help_modal.photo_title'
    %p=t 'users.help_modal.photo_text'

    %h5=t 'users.help_modal.experience_title'
    %p=t 'users.help_modal.experience_text'
    
    %h5=t 'users.help_modal.job_title' 
    %p=t 'users.help_modal.job_text'
    
    %h5=t 'users.help_modal.education_title'
    %p=t 'users.help_modal.education_text'
    
    %h5=t 'users.help_modal.skills_title'
    %p=t 'users.help_modal.skills_text'
    
    %h5=t 'users.help_modal.qualities_title'
    %p=t 'users.help_modal.qualities_text' 
    
    %h5=t 'users.help_modal.online_presence_title'
    %p=t 'users.help_modal.online_presence_text'