#facebook-modal.modal.hide
  .modal-header
    %button.close{type:'button', "data-dismiss" => 'modal'} ×
    %h3
      = image_tag 'facebook.png', style:'margin-right:5px'
      Import from Facebook
  .modal-body
    %input{type:'text', placeholder:'Email address'}
    %br/
    %input{type:'password', placeholder:'Password'}
  .modal-footer
    %a.btn{href:'#', 'data-dismiss' => 'modal'} Close
    %a.btn.btn-primary{href:'#', onclick:"$('#facebook-modal').modal('hide'); import_data('candidate')"} Sign in

#linkedin-modal.modal.hide
  .modal-header
    %button.close{type:'button', 'data-dismiss' => 'modal'} ×
    %h3
      = image_tag 'linkedin.png', style:'margin-right:5px'
      Import from LinkedIn
  .modal-body
    %input{type:'text', placeholder:'Email address'}
    %br/
    %input{type:'password', placeholder:'Password'}
  .modal-footer
    %a.btn{href:'#', 'data-dismiss' => 'modal'} Close
    %a.btn.btn-primary{href:'#', onclick:"$('#linkedin-modal').modal('hide'); import_data('candidate')"} Sign in