.progress.progress-success
  - case level
    - when 'Beginner'
      .bar{style: 'width:55%'}
    - when 'Intermediate'
      .bar{style: 'width:70%'}
    - when 'Advanced'
      .bar{style: 'width:85%'}
    - when 'Expert'
      .bar{style: 'width:100%'}