#profile-email-modal.modal.hide
  .modal-header
    %a.close.hidden-phone{href: '#', 'data-dismiss' => 'modal'} &times;
    %h3=t 'profile_emails.new.title'

  #profile-email-form
    = render 'profile_emails/new'