#buttons
  - if user_signed_in? && current_user == user && !subdomain?
    %a.btn.btn-large.btn-top.btn-primary{href: edit_user_path(user)}
      =t 'users.show.edit'
  - else
    %a.btn.btn-large.btn-primary.btn-top{href: "mailto:#{user.email}"}
      =t 'users.show.contact'
  .btn-group
    .btn.btn-large.dropdown-toggle{"data-toggle" => 'dropdown', href:'#'}
      =t 'users.show.share'
      .caret.hidden-tablet

    %ul.dropdown-menu
      %li
        %a{href: '#email-sharing-modal', 'data-toggle' => 'modal', title: t('users.show.send_email')}
          .icon-envelope
          &nbsp;
          =t 'users.show.email'
      %li
        %a.social-sharing-link{href: social_sharing_url(user, 'linkedin'), title: t('users.show.share_on', provider: 'Linkedin')}
          .icon-linkedin
          &nbsp;
          Linkedin
      %li
        %a.social-sharing-link{href: social_sharing_url(user, 'facebook'), title: t('users.show.share_on', provider: 'Facebook') }
          .icon-facebook
          &nbsp;
          Facebook
      %li
        %a.social-sharing-link{href: social_sharing_url(user, 'twitter'), title: t('users.show.share_on', provider: 'Twitter')}
          .icon-twitter
          &nbsp;
          Twitter
      %li
        %a.social-sharing-link{href: social_sharing_url(user, 'google'), title: t('users.show.share_on', provider: 'Google')}
          .icon-google-plus
          &nbsp;
          Google

  .explanation
    - if user_signed_in? && current_user == user && !subdomain?
      %h5=t 'users.show.public_profile'
      %p=t 'users.show.public_profile_explanation_html', url: link_to(user.public_url, user.public_url, target: '_new')

    - else
      %h5=t 'users.show.whats_this'
      %p=t 'users.show.whats_this_explanation_html', fullname: user.fullname