- unless profile.file.blank? && profile.url.blank? && profile.twitter_url.blank? && profile.linkedin_url.blank? && profile.facebook_url.blank? && profile.google_url.blank?
  .row-fluid#more-about
    .span12
      %h4=t 'users.show.more_about', fullname: "#{user.fullname}"
      - unless profile.file.blank?
        %a.btn.btn-small.btn-danger{href: profile.file_url.to_s, target: '_blank'}
          .icon-file
          &nbsp;
          =t 'users.show.download_cv'
      - unless profile.url.blank?
        %a.btn.btn-small{href: profile.url, target:'_blank'}
          .icon-globe
          &nbsp;
          =t 'users.show.site'
      = render 'users/show_social_urls', user: user, profile: profile, size: 'btn-small'
