- unless user.profile.file.blank? && user.authentifications.empty? && user.profile.url.blank?
  .row-fluid
    .span12
      %h4=t 'users.show.more_about', fullname: "#{user.fullname}"
      - unless user.profile.file.blank?
        %a.btn.btn-small.btn-danger{href: user.profile.file_url.to_s}
          .icon-file
          &nbsp;
          =t 'users.show.download_cv'
      - unless user.profile.url.blank?
        %a.btn.btn-small{href: user.profile.url, target:'_blank'}
          .icon-globe
          &nbsp;
          =t 'users.show.site'
      = render 'shared/show_social_links', user: user, size: 'btn-small'
