#buttons
  - if user_signed_in? && current_user == user && !subdomain?
    %a.btn.btn-large.btn-top.btn-primary{href: edit_user_path(user)}
      =t 'users.show.edit'
  - else
    %a.btn.btn-large.btn-primary.btn-top{href: "mailto:#{user.email}"}
      =t 'users.show.contact'
  .btn-group
    .btn.btn-large.dropdown-toggle{"data-toggle" => 'dropdown', href:'#'}
      =t 'users.show.share'
      %span.caret.hidden-tablet

    %ul.dropdown-menu
      %li
        %a{href: '#email-sharing-modal', 'data-toggle' => 'modal', title: t('users.show.send_email')}
          .icon-envelope
          &nbsp;
          =t 'users.show.email'
      %li
        %a{href: social_sharing_url(user, 'linkedin'), target: '_blank', title: t('users.show.share_on', provider: 'Linkedin')}
          .icon-linkedin
          &nbsp;
          Linkedin
      %li
        %a{href: social_sharing_url(user, 'facebook'), target: '_blank', title: t('users.show.share_on', provider: 'Facebook')}
          .icon-facebook
          &nbsp;
          Facebook
      %li
        %a{href: social_sharing_url(user, 'twitter'), target: '_blank', title: t('users.show.share_on', provider: 'Twitter')}
          .icon-twitter
          &nbsp;
          Twitter
      %li
        %a{href: social_sharing_url(user, 'google'), target: '_blank', title: t('users.show.share_on', provider: 'Google')}
          .icon-google-plus
          &nbsp;
          Google

  .explanation
    - if user_signed_in? && current_user == user && !subdomain?
      %h5=t 'users.show.public_profile'
      %p=t 'users.show.explanation_html', url: link_to(user.public_url, user.public_url, target: '_new')

    - else
      %h5 What’s this?
      %p #{user.fullname.split.first} is looking for a job and wants your help. Contact him if you have a job or a tip for him. Otherwise help him out by sharing his profile!