- unless profile.quality_1.blank? && profile.quality_2.blank? && profile.quality_3.blank?
  .row-fluid
    .span12
      %h4=t 'users.show.qualities'
      - unless profile.quality_1.blank?
        .row-fluid
          .span9
            .lead #{profile.quality_1}
      - unless profile.quality_2.blank?
        .row-fluid
          .span9
            .lead #{profile.quality_2}
      - unless profile.quality_3.blank?
        .row-fluid
          .span9
            .lead #{profile.quality_3}