#buttons
  - if user_signed_in? && current_user == user && !subdomain?
    %a.btn.btn-large.btn-top.btn-primary{href: edit_user_path(user)}
      =t 'users.show.edit'
  - else
    %a.btn.btn-large.btn-primary.btn-top#contact-button{href: "mailto:#{user.email}"}
      =t 'users.show.contact'
  %a.btn.btn-large.btn-default{href: '#profile-email-modal', 'data-toggle' => 'modal', title: t('users.show.send_email')}
    =t 'users.show.send'

  .explanation
    - if user_signed_in? && current_user == user && current_user.profile.profile_emails.empty?
      %h5=t 'users.show.what_now'
      %p=t 'users.show.user_explanation'
    - elsif !user_signed_in? || current_user != user
      %h5=t 'users.show.whats_this'
      %p=t 'users.show.public_explanation_html', fullname: user.fullname
    %h5=t 'users.show.public_profile'
    %p= link_to(user.public_url, user.public_url, target: '_new')
