.header
  %h1 Complete you profile!
  %br/

=form_for @user do |f|
  .row
    .span5
      .card
        .row
          .span4.well
            .row
              .span1    
                =f.file_field :image, id: 'image_click', style: 'position:absolute;z-index:-1'            
                = image_tag (current_user.image_url.nil? ? 'default_user.jpg' : current_user.image_url(:thumb).to_s), onclick: "$('#image_click').click()"
              .span3
                =f.text_field :fullname, placeholder: 'Full name', style: 'height:13px; font-size:15px'
                %br/
                =f.text_field :city ,class: 'input-small', placeholder: 'City', style: 'height:9px; margin-top:-4px; font-size:15px;' 
                =f.text_field :country , class: 'input-small', placeholder: 'Country', style: 'width: 105px; height:9px; margin-top: -4px; font-size:15px;'
                =f.text_field :role, class: 'input-small', placeholder: 'Role', :style => 'height:9px; margin-top: -4px; font-size:15px;'
                =f.text_field :company, class: 'input-small', placeholder: 'Company', :style => 'width: 105px; height:9px; margin-top: -4px; font-size:15px;'
        = f.fields_for(:profiles) { |profile_builder| render 'fields_profile', f: profile_builder }

    .span5.offset1
      .lead
        Import your information from
        %strong LinkedIn
        or
        %strong Facebook
      %a.btn.btn-large{'data-toggle' => 'modal', href: '#linkedin-modal'} Import from Linkedin
      &nbsp;
      %a.btn.btn-large{'data-toggle' => 'modal', href: '#facebook-modal'} Import from Facebook

.modal.hide#facebook-modal
  .modal-header
    %button.close{type: 'button', "data-dismiss" => 'modal'} ×
    %h3
      = image_tag 'facebook.png', :style => 'margin-right:5px'
      Import from Facebook
  .modal-body
    %input{type: 'text', placeholder: 'Email address'}
    %br/
    %input{type: 'password', placeholder: 'Password'}
  .modal-footer
    %a.btn{href: '#', "data-dismiss" => 'modal'} Close
    %a.btn.btn-primary{href: '#', onclick: "$('#facebook-modal').modal('hide'); import_data('candidate')"} Sign in

.modal.hide#linkedin-modal
  .modal-header
    %button.close{type: 'button', "data-dismiss" => 'modal'} ×
    %h3
      = image_tag 'linkedin.png', :style => 'margin-right:5px'
      Import from LinkedIn
  .modal-body
    %input{type: 'text', placeholder: 'Email address'}
    %br/
    %input{type: 'password', placeholder: 'Password'}
  .modal-footer
    %a.btn{href: '#', "data-dismiss" => 'modal'} Close
    %a.btn.btn-primary{href: '#', onclick: "$('#linkedin-modal').modal('hide'); import_data('candidate')"} Sign in