%h2=t 'users.edit.title'
%br/

= form_for @user do |f|
  = f.text_field :fullname, placeholder: 'Fullname'
  %br/

  = f.fields_for :profiles do |profile_builder|
    = render 'fields_profile', f: profile_builder