/* SCAFFOLDING
   ----------- */

body{
  font-family:Helvetica, Arial, sans-serif;
  color:#444;
  font-size:16px;
}
a{
  color:#0076ca;
  font-size:16px;
  font-weight:300;
}
a span{
  color:#0076ca;
}
img{
  display:block
}


/* BODY TEXT
   --------- */

p{
  margin:0;
  color:#444;
  font-size:16px;
  font-weight:300;
}
p small{
  font-size:13px;
  color:#a1a1a1;
}
.graylight-text{
  color:#a1a1a1;
}


/* HEADINGS
   -------- */

h2{
  color:#444;
  font-family:Helvetica, Arial, sans-serif;
  font-size:26px;
  line-height:30px;
  margin:0;
}
h2 span{
  color:#444;
}


/* BACKGROUND */

#background-table{
  background-color:#f1f3f4;
}


/* HEADER */

#header-table p{
  margin-bottom:0;
}


/* MESSAGE
   ------- */

#message-table{
  border:10px solid #e1e2e5;
  background-color:white;
}
#message-table .code{
  font-size:13px;
}

/* Fine line */

#fine-line-table{
  border-top:1px solid #ccc;
}

/* Buttons */

#button-table{
  background-color:#0076ca;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#button-table a{
  font-size:20px;
  font-weight:500;
  color:white;
  text-decoration:none;
}
#button-table a span{
  color:white;
}