=t 'mailers.devise.reset_password_instructions.hello'
<br>
<br>
<br>
=t 'mailers.devise.reset_password_instructions.someone_requested'
<br>
<br>
=t 'mailers.devise.reset_password_instructions.go_to_url'
<br>
= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
<br>
<br>
=t 'mailers.devise.reset_password_instructions.if_not'
<br>
=t 'mailers.devise.reset_password_instructions.wont_change'
<br>
<br>
<br>
=t 'mailers.devise.reset_password_instructions.cheers'
<br>
=t 'mailers.devise.reset_password_instructions.team'