%p=t 'mailers.devise.reset_password_instructions.hello'
%br/
%p=t 'mailers.devise.reset_password_instructions.someone_requested'
%p
  =t 'mailers.devise.reset_password_instructions.follow_link'
  %br/
  = edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p
  =t 'mailers.devise.reset_password_instructions.if_not'
  %br/
  =t 'mailers.devise.reset_password_instructions.wont_change'
%br/
%p
  =t 'mailers.devise.reset_password_instructions.cheers'
  %br/
  =t 'mailers.devise.reset_password_instructions.team'