<%=t 'mailers.devise.reset_password_instructions.content_html',
      url: "<a href='#{edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)}'><span>#{edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)}</span></a>".html_safe %>
<br />
<br />
<%=t 'mailers.devise.reset_password_instructions.wont_change' %>
<br />
<br />
<%=t 'mailers.devise.reset_password_instructions.if_not' %>