.span12#alt-landing
  .row-fluid
    .span12
      .hero-unit
        .row-fluid
          .span6#value-prop
            %h1=t 'pages.landing.fourth.catchphrase'
            %h3=t 'pages.landing.fourth.subtitle'
            %a.btn.btn-large.btn-primary{href: sign_up_path}=t 'pages.landing.old.signup'
          .span6#the-hero
            = link_to image_tag("screenshots/fourth_landing/#{locale}/hero.jpg"), sign_up_path
  .row-fluid#benefits
    .span3
      .icon
        .icon-bolt
      %h3=t 'pages.landing.fourth.benefit1_title'
      %p=t 'pages.landing.fourth.benefit1_text'
    .span3
      .icon
        .icon-user
      %h3=t 'pages.landing.fourth.benefit2_title'
      %p=t 'pages.landing.fourth.benefit2_text'
    .span3
      .icon
        .icon-edit
      %h3=t 'pages.landing.fourth.benefit3_title'
      %p=t 'pages.landing.fourth.benefit3_text_html'
    .span3
      .icon
        .icon-envelope
      %h3=t 'pages.landing.fourth.benefit4_title'
      %p=t 'pages.landing.fourth.benefit4_text'

  .row-fluid
    .span12
      .alert.fourth.alert-info=t 'pages.landing.fourth.disclaimer_html'
      .lang-nav= render 'layouts/navigation/languages_navigation'
