.span12#landing
  .row-fluid
    .span12
      .hero-unit
        .row-fluid
          .span6#value-prop
            %h1=t 'pages.landing.catchphrase'
            %h3=t 'pages.landing.subtitle'
            %a.btn.btn-large.btn-primary#join-beta{href: "#{new_invite_email_path}?landing_version=#{@version}"}=t 'pages.landing.join'
          .span6#screenshot.hidden-phone
          .span6#screenshot-phone.visible-phone
  .row-fluid#benefits
    .span3
      .icon
        .icon-file
      %h3=t 'pages.landing.benefit1_title'
      %p=t 'pages.landing.benefit1_text'
    .visible-phone
      %br/
      %br/
    .span3
      .icon
        .icon-comments
      %h3=t 'pages.landing.benefit2_title'
      %p=t 'pages.landing.benefit2_text'
    .visible-phone
      %br/
      %br/
    .span3
      .icon
        .icon-magic
      %h3=t 'pages.landing.benefit3_title'
      %p=t 'pages.landing.benefit3_text_html'
    .visible-phone
      %br/
      %br/
    .span3
      .icon
        .icon-bullhorn
      %h3=t 'pages.landing.benefit4_title'
      %p=t 'pages.landing.benefit4_text'
    .visible-phone
      %br/
      %br/
  .row-fluid
    .span12
      .alert.alert-info=t 'pages.landing.disclaimer_html'
