.row
  .span6.offset3
    .row
      .well{style: 'text-align:center'}
        %h1 Be first to try Joblr!
        %br/
        %br/
        %br/
        .lead
          We are currently seeking feedback on our ideas.
          %br/
          This is a beta<span class='danger'>*</span> and you need an <u>invitation</u> to access it.
        %p.danger{style: 'margin-bottom:0'} *early version with a few bugs and not finalized details here and there
        %br/
        %br/
        %br/
        .input-append
          = text_field_tag :code, '', placeholder: 'Invitation code'
          .btn.btn-primary{ :type => 'button', :style => 'margin-left:-5px' } Sign up!
        %br/
        = link_to "Haven't got your code yet? Get one!", get_invited_path
        %br/