%article#slider

  %section.well
    %h1=t 'pages.titles.overview'

  %section.well
    %h1=t 'pages.titles.tour'

  %section.well
    %h1=t 'pages.titles.pricing'

  %section.well
    %h1=t 'pages.titles.team'

  %section.well
    %h1=t 'pages.titles.contact'