.row-fluid
  .span3.offset9{style: 'margin-left:920px; position:fixed'}
    .lead{style: 'text-align:right'} Get early access and unique care from the guys at joblr.co. Click #{link_to 'here', new_beta_invite_path} to join our alpha!
.row-fluid
  .span8
    .hero-unit
      %h1 What is joblr?
      %br/
      .lead The online profile that obsoletes the resume & cover letter.