#overview.well{style: 'min-height:1600px; margin-bottom:1600px'}
  %h1=t '.titles.overview'

#tour
%br/
%br/
%br/
%br/
%br/
.well{style: 'min-height:1600px; margin-bottom:1600px'}
  %h1=t '.titles.tour'

#pricing
%br/
%br/
%br/
%br/
%br/
.well{style: 'min-height:1600px; margin-bottom:1600px'}
  %h1=t '.titles.pricing'

#team
%br/
%br/
%br/
%br/
%br/
.well{style: 'min-height:1600px; margin-bottom:1600px'}
  %h1=t '.titles.team'

#contact
%br/
%br/
%br/
%br/
%br/
.well{style: 'min-height:1600px'}
  %h1=t '.titles.contact'