.span8
  .hero-unit
    %h1 Welcome to Joblr
    %br/
    .lead
      Tired of wasting your time writing cover letters and resumes?
      %br/
      Click #{link_to 'here', new_beta_invite_path} to join our beta!