.span8
  .hero-unit
    %h1 What is joblr?
    %br/
    .lead This is staging
.span1.hidden-phone
.span3
  .lead.pull-right Get early access and unique care from the guys at joblr.co. Click #{link_to 'here', new_beta_invite_path} to join our alpha!