.span12#landing2
	.span8.offset2
		#catchphrase 
			%h1 La candidature spontanée qui donne envie de vous répondre.
	#email
	#screenshots
		=image_tag 'screenshots/signup.jpg'
		=image_tag 'screenshots/profile.jpg'
		=image_tag 'screenshots/apply.jpg'
		=image_tag 'screenshots/applications.jpg'
	.alert.alert-info=t 'pages.landing.disclaimer_html'

#grey_block
	.row-fluid
		.span8.offset1
			%h1 Joblr est entièrement gratuit, commencez à postulez en quelques clics !
		.span2
			.btn.btn-large.btn-primary.btn-top S'inscrire
	.row-fluid#testimony
		.span3.offset1
			“Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. 
			%br/
			Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.”
			%p.pull-right - Porta Ipsum
		.span3.offset1
			“Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil.
			%br/
			Impedit quo minus id quod maxime placeat facere possimus.”
			%br/
			%p.pull-right - Aenean Dolor

