%span12#search
  .row-fluid
    .span8.offset2
      .row-fluid
        %h2 Search companies by location, industry or name
        %h6 You can also search people by full name
        %input.span11{type: 'text', placeholder: 'Search', value: 'Amsterdam, internet'}
        .pull-right
          %a{href: search3_path}
            search
            .icon-search
        %br/
        %span.label.label-info
          .icon-map-marker
          Amsterdam
        %span.label.label-inverse
          internet
        %br/
        %br/
        %br/
        %br/
  .row-fluid
    .span10.offset1.well
      .span2
        =image_tag 'company_logos/company_logo13.png'
      .span8
        %h2 Joblr
        .icon-map-marker
        Amsterdam, Netherlands
        %br/
        .icon-briefcase
        Internet
        %br/
        =link_to 'http://joblr.co', 'http://joblr.co', target: 'new'
      .span2
        %h4 Get in touch!
        %h2
          .icon-linkedin
          .icon-twitter
          .icon-facebook
          .icon-github      
        %br/
        %br/
        %br/
      .span11
        Joblr is an Amsterdam based startup dedicated to fixing the job search.
        %br/ 
        The website enables effortless job applications by helping work seekers import their info from LinkedIn and send their profile to companies through easy to read yet powerful profile emails.
        %br/
        Getting tips and contacts from social networks is also just one "share" button away.
        %br/
        %br/
        %ul.nav.nav-tabs
          %li=link_to 'News', search5_path
          %li=link_to 'People', search6_path
          %li.active=link_to 'Jobs', '#'
        .row-fluid
          %h2 SEO Expert
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-info-sign
          2-5 years experience
          %br/
          %br/
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
          %br/
          =link_to 'See more', '#'
        %br/
        %br/
        .row-fluid
          %h2 Ruby on Rails Expert
          .icon-map-marker
          Amsterdam, Netherlands
          %br/
          .icon-info-sign
          beginner or junior
          %br/
          %br/
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
          %br/
          =link_to 'See more', '#'
        %br/
        %br/
        .row-fluid
          %h2 Project Manager
          .icon-map-marker
          Paris, France
          %br/
          .icon-info-sign
          10 years experience at least
          %br/
          %br/
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
          %br/
          =link_to 'See more', '#'

