%span12#search
  .row-fluid
    .span8.offset2
      .row-fluid
        %h2 Search companies by location, industry or name
        %h6 You can also search people by full name
        %input.span12{type: 'text', placeholder: 'Search', value: 'Amsterdam, internet'}
        .pull-right
          %a{href: search3_path}
            search
            .icon-search
        %br/
        %span.label.label-info
          .icon-map-marker
          Amsterdam
        %span.label.label-inverse
          internet
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        .span2.offset4
          = image_tag 'base/spinner_logo.gif'
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
