%span12#search
  .row-fluid
    .span8.offset2
      .row-fluid
        %h2 Search companies by location, industry or name
        %h6 You can also search people by full name
        %input.span11{type: 'text', placeholder: 'Search', value: 'Amsterdam, internet'}
        .pull-right
          %a{href: search3_path}
            search
            .icon-search
        %br/
        %span.label.label-info
          .icon-map-marker
          Amsterdam
        %span.label.label-inverse
          internet
        %br/
        %br/
        %br/
        %br/
  .row-fluid
    .span10.offset1.well
      .span2
        =image_tag 'company_logos/company_logo13.png'
      .span8
        %h2 Joblr
        .icon-map-marker
        Amsterdam, Netherlands
        %br/
        .icon-briefcase
        Internet
        %br/
        =link_to 'http://joblr.co', 'http://joblr.co', target: 'new'
      .span2
        %h4 Get in touch!
        %h2
          .icon-linkedin
          .icon-twitter
          .icon-facebook
          .icon-github      
        %br/
        %br/
        %br/
      .span11
        Joblr is an Amsterdam based startup dedicated to fixing the job search.
        %br/ 
        The website enables effortless job applications by helping work seekers import their info from LinkedIn and send their profile to companies through easy to read yet powerful profile emails.
        %br/
        Getting tips and contacts from social networks is also just one "share" button away.
        %br/
        %br/
        %ul.nav.nav-tabs
          %li=link_to 'News', search5_path
          %li.active=link_to 'People', '#'
          %li=link_to 'Jobs', search7_path
        .row-fluid
          .span2
            =image_tag 'people_avatars/dom.jpg',    style: "width: 80px; height: 80px;"
          .span7
            %h3 Dominic Matheron
            .icon-map-marker
            Amsterdam, Netherlands
            %br/
            .icon-briefcase
            Co-founder
          .span3
            %h2
              .icon-linkedin
              .icon-twitter
              .icon-facebook
              .icon-github
              .icon-google-plus
        %br/
        .row-fluid
          .span2
            =image_tag 'people_avatars/franck.png', style: "width: 80px; height: 80px;"
          .span7
            %h3 Franck Sabattier
            .icon-map-marker
            Grenoble, France
            %br/
            .icon-briefcase
            Co-founder
          .span3
            %h2
              .icon-linkedin
              .icon-twitter
              .icon-facebook
              .icon-github
              .icon-google-plus
        %br/
        .row-fluid
          .span2
            =image_tag 'people_avatars/joel.jpg', style: "width: 80px; height: 80px;"
          .span7
            %h3 Joel Laumans
            .icon-map-marker
            Rotterdam, Netherlands
            %br/
            .icon-briefcase
            User Experience Designer
          .span3
            %h2
              .icon-twitter
              .icon-facebook
              .icon-google-plus