.row-fluid.devise#signup-choice
  .span3.hidden-phone
  .span6
    .header
      %h1=t 'pages.signup_choice.welcome'
      .lead=t 'pages.signup_choice.choose'
    .well
      = render 'devise/shared/omniauth_links', user: @user, size: 'btn-large'
      .no-worries=t 'pages.signup_choice.no_worries'
      = link_to t('pages.signup_choice.manual'), new_user_registration_path

= mixpanel_call('track','Clicked on Signup button',"{'Landing version':'#{params[:landing_version]}'}")