.span3.hidden-phone
.span6
  .well#error-page
    %h1=t 'errors.error_422.title'
    %br/
    %br/
    %br/
    .lead
      =t 'errors.error_422.content'
      %br/
      %br/
      =t 'errors.email_us_html', email_link: link_to('support@joblr.co', 'mailto:support@joblr.co')