.span3.hidden-phone
.span6
  .row-fluid
    .well#email_sharing
      %h1=t 'email_sharings.already_answered.title'
      .lead
        =t 'email_sharings.already_answered.thank_you', fullname: @email_sharing.profile.user.fullname
        %br/
        %br/
        =t 'email_sharings.already_answered.close_page'