.span3.hidden-phone
.span6
  .row-fluid
    .well#email_sharing
      %h1=t 'email_sharings.decline.thank_you'
      .lead=t 'email_sharings.decline.close_page', fullname: @email_sharing.profile.user.fullname