// DEVISE
// Styles to personalize Devise views
// ----------------------------------


// Headings
// --------

.devise h1{
  margin-bottom:$baseLineHeight * 2;
}

// Buttons
// -------

.devise{
  .btn{
    margin:10px 7px 0 0;
  }
  .problem{
    margin-top:45px;
  }
}

