// SHARINGS
// Styles for all sharings views
// -----------------------------


// New
//----

form#new_email_sharing{
  margin-bottom:0;
  #email-sharing-error{
    color: $errorBorder;
    margin-bottom:30px;
    display:none;
  }
  .span10{
    margin-top:10px;
    textarea{
      width:97%;
    }
  }
  .modal-footer{
    #loader{
      display:none;
      img{
        margin:-2px 2px 0 5px;
      }
    }
  }
}

// Decline & Already answered
#email_sharing h1{
  margin-bottom:40px;
}