// PAGES
// Styles for all public pages
// ---------------------------


// Landing page
// ------------

#landing{
  h1, h3, p, .icon{
    color:$black;
  }
  .hero-unit{
    margin:15px 0 30px 0;
    padding:0;
    background-color:$bodyBackground;
    @include box-shadow(none);
    border:0;
    border-bottom:5px solid $grayLighter;
    #catchphrase{
      padding-bottom:50px;
      h1{
        margin:20px 0 30px 0;
        font-size:55px;
        line-height:55px;
      }
    }
    #screenshot{
      min-height:407px;
      min-width:459px;
      background: url('screenshots/landing.png') no-repeat bottom right;
      display:block;
    }
    #screenshot-phone{
      height:310px;
      background: url('screenshots/landing.png') no-repeat bottom center;
      background-size:contain;
      display:block;
    }
    .btn-primary{
      margin-top:40px;
    }
  }
  #benefits{
    padding:40px 0 40px 0;
    text-align:center;
    h3{
      font-size:18px;
      margin-bottom:5px;
    }
    .icon{
      margin-bottom:35px;
      font-size:55px;
    }
  }
}


// Admin dashboard
// ---------------

.admin{
  .hero-unit{
    margin-bottom:25px;
  }
  td{
    text-align:center;
    p{
      margin-bottom:0;
    }
  }
}


// Style tile
// ----------

#style-tile{
  .well{
    width:150px;
    height:150px;
    margin:0 25px 10px 0;
    padding:10px;
    border:0;
    @include box-shadow(0 1px 2px 1px #ddd);
    display:inline-block;
    div{
      width:inherit;
      height:inherit;
    }
    .background-light{
      background-color:$bodyBackground;
    }
    .background-dark{
      background-color:$grayLight;
    }
    .white{
      background-color:$white;
    }
    .grayDark{
      background-color:$grayDark;
    }
    margin-top:13px;
    .red{
      background-color:$red;
    }
    .blue{
      background-color:$blue;
    }
  }
}

