// PAGES
// Styles for all public pages
// ---------------------------


// Landing page
// ------------

#landing{
  h1, h3, p, .icon{
    color:$black;
  }
  .hero-unit{
    margin:15px 0 30px 0;
    padding:0;
    background-color:$bodyBackground;
    border:0;
    border-bottom:5px solid $grayLighter;
    #value-prop{
      padding-bottom:50px;
      h1{
        margin:20px 0 26px 0;
        font-size:55px;
        line-height:55px;
      }
      h3{
        line-height: 28px;
      }
    }
    .the-hero{
      float:right;
      padding-right:30px;
    }
    #screenshot{
      min-height:407px;
      min-width:459px;
      background: url('screenshots/landing.png') no-repeat bottom right;
      display:block;
    }
    #screenshot-phone{
      height:310px;
      background: url('screenshots/landing.png') no-repeat bottom center;
      background-size:contain;
      display:block;
    }
    .btn-primary{
      margin-top:32px;
    }
  }
  #benefits{
    padding:40px 0 40px 0;
    text-align:center;
    h3{
      font-size:18px;
      margin-bottom:5px;
    }
    .icon{
      margin-bottom:35px;
      font-size:55px;
    }
  }
}

#alt-landing{
  h1, h2, h3, p, .icon{
    color:$black;
  }
  .hero-unit{
    padding:10px 0 0 0;
    background-color:$bodyBackground;
    border:0;
    border-bottom:5px solid $grayLighter;
    #value-prop{
      padding-top:40px;
      h1{
        font-size:55px;
        line-height:60px;
      }
      h3{
        padding:30px 0 40px 0;
        line-height:25px;
      }
      // phone
      @media (max-width: 767px) {
        padding:0 10px 0 10px;
        text-align:center;
      }
      // mobile
      @media (max-width: 979px) {
        h1{
          font-size:40px;
          line-height:45px;
        }
        h3{
          padding:20px 0 30px 0;
          font-size:18px;
          line-height:22px;
        }
      }
    }
    #the-hero{
      // desktop
      @media (min-width: 980px){
        img{
          margin-right:25px;
          float:right;
        }
      }
      // tablet
      @media (min-width:768px) and (max-width: 979px){
        img{
          margin-right:10px;
          float:right;
        }
      }
      // phone
      @media (max-width:767px) {
        text-align:center;
        img{
          margin:60px 0 0 0;
        }
      }
    }
  }
  #benefits{
    padding:17px 15px 50px 15px;
    text-align:center;
    h3{
      font-size:18px;
    }
    p{
      padding:15px;
      margin-bottom:0px;
    }
    .icon{
      margin-bottom:28px;
      font-size:55px;
    }
    // phone
    @media (max-width: 767px) {
      padding-bottom:15px;
      p{
        margin-bottom:20px;
      }
      .icon{
        margin-bottom:20px;
      }
    }
  }
  #testimonials{
    border-top:5px solid $grayLighter;
    .testimonials{
      h2{
        margin:106px 0 55px 0;
      }
      .guillaume{
        margin-top:40px;
        text-align:right;
      }
      p{
        padding:0 10px 0 10px;
        margin-bottom:0px;
        span{
          &.text{
            display:block;
            margin-bottom:10px;
            font-family:Times;
            font-size:16px;
            font-weight:100;
            color:$grayDark;
          }
          &.name{
            font-size:14px;
            font-weight:bold;
            a, a:hover{
              color:$black;
            }
          }
          &.job{
            font-size:13px;
          }
        }
      }
      // small desktop
      @media (min-width:980px) and (max-width:1200px) {
        h2{
          margin-top:68px;
          font-size:23px;
        }
      }
      // tablet
      @media (min-width:768px) and (max-width: 979px) {
        width:100%;
        h2{
          margin-top:70px;
        }
      }
      // phone
      @media (max-width:767px) {
        padding-top:50px;
        p{
          padding:0;
        }
        .delphine{
          img{
            margin-bottom:20px;
          }
        }
        .guillaume{
          img{
            margin-top:20px;
          }
        }
      }
    }
    .hero-bottom img{
      float:right;
      margin-right:7px;
    }
  }
  .alert.fourth{
    margin-top:30px;
  }
  .alert.fifth{
    margin-top:100px;
  }
}


// Style tile
// ----------

#style-tile, #admin #conversion-dashboard{
  .well{
    padding:10px;
    border:0;
    @include box-shadow(0 1px 2px 1px #ddd);
    display:inline-block;
    .background-light{
      background-color:$bodyBackground;
    }
    .background-dark{
      background-color:$grayLight;
    }
    .white{
      background-color:$white;
    }
    .grayDark{
      background-color:$grayDark;
    }
    .red{
      background-color:$red;
    }
    .blue{
      background-color:$blue;
    }
  }
}
#style-tile{
  .well{
    width:150px;
    height:150px;
    margin:13px 25px 10px 0;
    div{
      width:inherit;
      height:inherit;
    }
  }
}


// Admin dashboard
// ---------------

#admin{
  #conversion-dashboard{
    .well{
      margin-bottom:25px;
      .hero-unit{
        padding:60px 5% 28px 20%;
        margin:0;
        border:0;
        &.grayDark div, &.grayDark h1{
          color:$white;
        }
        &.grayDark div{
          font-weight:100;
        }
      }
    }
    .conversion{
      margin-top:100px;
      text-align:center;
      color:$blue;
      &.total{
        color:$grayDark;
      }
    }
  }
  .tabbable{
    margin-top:50px;
  }
  td.actions{
    a{
      margin-right: 10px;
      &:hover{
        text-decoration:none;
      }
    }
  }
}

// Sign up
// -------

#sign-up{
  .well{
    padding-top:35px;
    text-align:center;
    .no-worries{
      margin-top:32px;
    }
  }
}
