// PAGES
// Styles for all public pages
// ---------------------------


#style-tile{
  .right-pane{
    .span2 div{
      width:150px;
      height:150px;
    }
    .well{
      padding:10px;
    }
    #backgrounds{
      .brown{
        background-color:$brown;
      }
      .browDark{
        background-color:$brownDark;
      }
      .white{
        background-color:$white;
      }
      .grayDark{
        background-color:$grayDark;
      }
    }
    #colors{
      margin-top:13px;
      .red{
        background-color:$red;
      }
      .blue{
        background-color:$blue;
      }
    }
  }
}