// Profile emails
// Styles for all profile emails views
// -----------------------------------


// New
//----

form#new_profile_email{
  margin-bottom:0;
  #profile-email-error{
    color: $errorBorder;
    margin-bottom:30px;
    display:none;
  }
  .span10{
    margin-top:10px;
    textarea{
      width:97%;
    }
  }
  .modal-footer{
    #loader{
      display:none;
      img{
        margin:-2px 2px 0 5px;
      }
    }
  }
}

// Index
//------

#profile-emails{
  #date{
    margin-bottom:20px;
    .profile-email-thumb{
      margin:20px 20px 0 0;
      display:inline-block;
    }
  }
}


// Show
//-----

.modal .profile-email-show{
  padding:18px 20px 20px 12px;
  font-size: 16px;
  font-weight:300;
  p{
    margin-bottom:9px;
    font-size:15px;
    line-height:18px;
    text-decoration:none;
    color:$grayDark;
  }
  img{
    margin:24px 20px 0 0;
    float:left;
  }
  h2{
    margin-top:32px;
    margin-bottom:7px;
  }
  .fine-line{
    margin:64px 0 36px 0;
    border-top:1px solid #ccc;
  }
  .btn{
    margin-right:21px;
    font-size:20px;
    font-weight:bold;
    text-decoration:underline;
  }
  a{
    color:$blue;
    text-decoration:underline;
    &:hover{
      text-decoration:underline;
    }
  }
}


// Thumbnails
//-----------

.profile-email-thumb .well{
  width:150px;
  margin-bottom:10px;
  border-width:3px;
  border-height:3px;
  font-size: 4px;
  font-weight:300;
  padding:13px 10px;
  line-height:5px;
  p{
    margin-bottom:3px;
    font-size:4px;
    text-decoration:none;
    color:$grayDark;
  }
  img{
    width:25px;
    height:25px;
    margin:8px 6px 0 0;
    float:left;
  }
  h2{
    margin:12px 0 1px 0;
    font-size:7px;
    line-height:1;
  }
  .graylight-text{
    font-size:5px;
  }
  .fine-line{
    margin:20px 0 11px 0;
    border-top:1px solid #eee;
  }
  .btn{
    padding: 0 10px;
    margin-right:6px;
    font-size:7px;
    font-weight:bold;
    line-height:14px;
    @include border-radius(3px);
  }
  a{
    font-size:6px;
    color:$blue;
    &:hover{
      text-decoration:none;
    }
  }
}


// Decline & already answered
//---------------------------

#profile_email h1{
  margin-bottom:40px;
}