// Profile emails
// Styles for all profile emails views
// -----------------------------------


// New
//----

form#new_profile_email{
  margin-bottom:0;
  #profile-email-error{
    color: $errorBorder;
    margin-bottom:30px;
    display:none;
  }
  .span10{
    margin-top:10px;
    textarea{
      width:97%;
    }
  }
  .modal-footer{
    #loader{
      display:none;
      img{
        margin:-2px 2px 0 5px;
      }
    }
  }
}

#full_profile_email{
  h1{
    text-align:center;
    margin-bottom:25px;
  }
  .identity{
    margin-top:40px;
    h2{
      line-height:30px;
      margin-bottom:5px;
    }
    img{
      max-width:80px;
      max-height:80px;
    }
  }
  .lead{
    margin-bottom:10px;
  }
  .progress{
    display:none;
  }  
  .profile{
    margin-top:40px;
  }
  input.btn{
    text-decoration:underline;
  }
  hr{
    margin:40px 0px;
  }
  a{
    font-family:Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:300;
    color:#0076ca;
    margin-top:15px;
    text-decoration:underline;
  }
  .experience{
    margin:20px 0 10px 0;
    p{
      font-family: Helvetica,Arial,sans-serif;
      color:$grayDark;
      font-size:13pt;
      font-weight:300;
      small{
        font-size:11pt;
        color:$grayLight;
      }
    }
  }
  .skills{
    margin:20px 0;
  }
  #buttons{
    float:right;
    .btn{
      width:50%;
    }
    .btn-top{
      margin-bottom:10px;
    }
    input[type="submit"]{
      width:100%;
      text-decoration:none;
    }
    .btn-preview{
      font-size:13pt;
    }
  }
}

// Index
//------

#profile-emails{
  .date{
    margin-bottom:20px;
    .thumb-container{
      display:inline-block;
      .well.profile-email.thumb{
        margin:20px 20px 0 0;
      }
      p.thumb-text{
        margin-top:10px;
      }
    }
  }
  #buttons{
    float:right;
    .btn{
      width:75%;
    }
    .btn-top{
      margin-bottom:10px;
    }
  }
}


// Show
//-----

.modal.profile-email{
  padding:22px 25px 25px 25px;
  a.close{
    position:absolute;
    top:10px;
    right:14px;
  }
  .modal-body{
    font-size: 16px;
    font-weight:300;
    p{
      margin-bottom:9px;
      line-height:18px;
      text-decoration:none;
      color:$grayDark;
    }
    .identity{
      height:120px;
      margin:35px 0 40px 0;
      border-bottom:1px solid #ccc;
      img{
        margin-right:20px;
        float:left;
        width:80px;
        height:80px;
      }
      h2{
        margin:32px 0 6px 0;
      }
    }
    .btn{
      margin-right:21px;
      font-size:20px;
      font-weight:bold;
      text-decoration:underline;
    }
    a{
      color:$blue;
      text-decoration:underline;
      &:hover{
        text-decoration:underline;
      }
    }
  }
}


// Thumbnails
//-----------

.well.profile-email.thumb {
  width:150px;
  margin-bottom:10px;
  border-width:3px;
  border-height:3px;
  font-size: 4px;
  font-weight:300;
  padding:7px 11px 11px 11px;
  line-height:5px;
  p{
    margin:3px 0 0 0;
    font-size:4px;
    text-decoration:none;
    color:$grayDark;
  }
  .identity{
    height:36px;
    margin:-2px 0 11px 0;
    border-bottom:1px solid #eee;
    img{
      width:25px;
      height:25px;
      margin-right:6px;
      float:left;
    }
    h2{
      margin:12px 0 1px 0;
      font-size:7px;
      line-height:1;
    }
    .graylight-text{
      font-size:5px;
    }
  }
  .btn{
    padding: 0 10px;
    margin-right:6px;
    font-size:7px;
    font-weight:bold;
    line-height:14px;
    @include border-radius(3px);
  }
  a{
    font-size:6px;
    color:$blue;
    &:hover{
      text-decoration:none;
    }
  }
}


// Decline & already answered
//---------------------------

#profile_email h1{
  margin-bottom:40px;
}