// SHARINGS
// Styles for all sharings views
// -----------------------------


// New
//----

#sharing{
  margin-top:50px;
  input{
    margin-bottom:20px;
  }
  textarea{
    width:100%;
  }
  .btn, form{
    margin-bottom:0;
  }
}