// SHARINGS
// Styles for all sharings views
// -----------------------------


// New
//----

.sharing{
  textarea{
    width:100%;
  }
  .well{
    margin:20px 0 20px 0;
  }
  .lead, form{
    margin-bottom:0;
  }
}