// SHARINGS
// Styles for all sharings views
// -----------------------------


// New
//----

form#new_email_sharing{
  margin-bottom:0;
  #email-sharing-error{
    color: $errorText;
    margin-bottom:30px;
    display:none;
  }
  .span10{
    margin-top:10px;
  }
  .modal-footer{
    #loader{
      display:none;
      img{
        margin:-2px 2px 0 5px;
      }
    }
  }
}