// USERS
// Styles for all users views
// --------------------------


// SHOW & EDIT
// -----------

// Text bubble
// -----------

#text{
  margin-bottom:50px;
  h1{
    font-weight:200;
  }
  .lead{
    margin-bottom:0;
  }
}

// Profile
// -------

#profile{
  &.well{
    border:10px solid $brownDark;
    @include box-shadow(none);
  }
  img{
    @include border-radius(4px);
    max-width:80px;
    max-height:80px;
  }
  h2{
    margin-top:-8px;
  }
  h4{
    margin-top:20px;
  }
  #image-modal{
    .pic {
      width:50px;
      height:50px;
      &.social {
        margin:5px 7px 20px -2px;
      }
      &.current {
        margin:5px 0 5px 0;
      }
      &.selected {
        @include box-shadow(0 0 4px 1px #0073CC);
      }
    }
  }
  .headline{
    margin-top:-5px;
    font-weight:500;
  }
  .lead{
    margin-bottom:10px;
  }
  .experience p{
    margin-bottom:0;
  }
  .skills{
    .progress{
      margin:4px 0 0 0;
    }
    select {
      width:110px;
      margin-bottom:11px;
      margin-left:50px;
    }
  }
  #social-urls .btn-small{
    margin-bottom:8px;
  }
  #social-url-fields{
    input{
      display:none;
    }
  }
  input.url{
    margin-bottom:15px;
  }
  .delete{
    font-size:11px;
    color: $gray;
    display:inline-block;
    a{
      color: $gray;
      text-decoration:underline;
    }
  }
  .input-small{
    margin-right:15px;
  }
  .input-slim{
    height:10px;
    font-size:11px;
  }
}

// Buttons
// -------

#buttons{
  margin-top:0px;
  .btn{
    width:70%;
  }
  .btn-top{
    margin-bottom:10px;
  }
  input[type="submit"]{
    width:100%;
  }
  .explanation{
    width:75%;
    margin-top:20px;
    padding-left:20px;
    p{
      margin-bottom:7px;
    }
  }
  h5{
    margin-bottom:10px;
  }
}

// Onboarding
// ----------

#onboarding{
  width:90%;
  margin-top:90px;
  .big{
    opacity:0.2;
    &.checked{
      opacity:1;
      color:$successText;
    }
  }
}

// Popovers
// --------

#popovers{
  opacity:0.5;
  a{
    opacity:0;
    margin-right:-30px;
    &.text{
      padding-bottom:185px;
    }
    &.fullname{
      padding-bottom:535px;
    }
    &.city{
      padding-bottom:615px;
    }
    &.country{
      padding-bottom:575px;
    }
    &.headline{
      padding-bottom:645px;
    }
    &.experience{
      padding-bottom:840px;
    }
    &.last_job{
      padding-bottom:800px;
    }
    &.past_companies{
      padding-bottom:985px;
    }
    &.education{
      padding-bottom:1180px;
    }
    &.skill_1{
      padding-bottom:1391px;
    }
    &.skill_2{
      padding-bottom:1430px;
    }
    &.skill_3{
      padding-bottom:1470px;
    }
    &.skill_1_level{
      padding-bottom:1271px;
    }
    &.skill_2_level{
      padding-bottom:1310px;
    }
    &.skill_3_level{
      padding-bottom:1350px;
    }
    &.quality_1{
      padding-bottom:1500px;
    }
    &.quality_2{
      padding-bottom:1538px;
    }
    &.quality_3{
      padding-bottom:1576px;
    }
    &.url{
      padding-bottom:2080px;
    }
  }
}