// USERS
// Styles for all users views
// --------------------------


// SHOW & EDIT
// -----------

#edit-user{
  h1{
    margin-bottom:35px;
    text-align:center;
  }

  // ? link
  // ------

  a.help{
    padding:2px 0 0 5px;
    color:inherit;
    font-size:14px;
    &:hover{
      color:inherit;
      text-decoration:none;
    }
  }
}


// Profile
// -------

.profile{
  &.well{
    border:10px solid $grayLighter;
    @include box-shadow(none);
    padding-bottom:30px;
  }
  &.modal{
    padding:25px 25px 15px 25px;
    a.close{
      position:absolute;
      top:10px;
      right:14px;
    }
  }
  h4{
    margin-top:15px;
  }
  .identity{
    .span3{
      min-width:95px;
      img{
        max-width:80px;
        max-height:80px;
        margin-bottom:10px;
      }
    }
    .span9{
      margin-left:0;
      h2{
        margin:-3px 0 10px 0;
      }
    }
  }
  #image-modal{
    .pic {
      width:50px;
      height:50px;
      &.social {
        margin:5px 7px 20px -2px;
      }
      &.current {
        margin:5px 0 5px 0;
      }
      &.selected {
        @include box-shadow(0 0 4px 1px #0073cc);
      }
    }
  }
  .lead{
    margin-bottom:10px;
  }
  .experience{
    .span3{
      min-width:95px;
      padding-right:15px;
    }
    .span9{
      margin-left:0;
    }
    p{
      margin-bottom:15px;
    }
  }
  .skills{
    .progress{
      margin:4px 0 0 0;
    }
    select {
      width:110px;
      margin-bottom:11px;
    }
  }
  .more-about{
    .btn-small{
      margin-bottom:8px;
    }
  }
  #social-url-triggers{
    margin-top:3px;
  }
  #social-url-fields{
    display:none;
    input{
      display:none;
    }
  }
  input.url{
    margin-bottom:15px;
  }
  .danger-text{
    font-size:11px;
    display:inline-block;
  }
  .input-small{
    margin-right:10px;
  }
  .input-slim{
    height:10px;
    font-size:11px;
  }
}

// Buttons
// -------

#buttons{
  float:right;
  label{
    text-align:left;
  }
  .btn{
    width:70%;
    margin-right:0;
  }
  .btn-top{
    margin-bottom:10px;
  }
  .explanation{
    width:84%;
    margin-top:25px;
    padding:0 10px;
    p{
      margin-bottom:7px;
    }
  }
  h5{
    margin:20px 0 5px 0;
  }
}

// Help modal
// ----------

#help-modal{
  p{
    margin-top: 10px;
  }
}
