// Profile
// -------------

#text{
  margin-bottom:50px;
  h1{
    font-weight:200;
  }
}

#profile{
  &.well{
    border:10px solid $brownDark;
    @include box-shadow(none);
  }
  img{
    @include border-radius(4px);
  }
  h2{
    margin-top:-8px;
  }
  h4{
    margin-top:20px;
  }
  .headline{
    margin-top:-5px;
    font-weight:500;
  }
  .lead{
    margin-bottom:10px;
  }
  .progress{
    margin:6px 0 0 0;
  }
  .input-small{
    margin-right:15px;
  }
  .select-level {
    width:110px;
    margin-bottom:10px;
    margin-left:50px;
  }
  .delete{
    font-size:12px;
    display:inline-block;
  }
}

#buttons{
  margin-top:50px;
  .btn{
    width:70%;
    margin:0;
  }
  input[type="submit"]{
    width:100%;
  }
  .linkedin-import, .btn-top{
    margin-bottom:10px
  }
  .explanation{
    margin:20px 0 0 15px;
    p{
      margin-bottom:7px;
    }
  }
  h5{
    margin-bottom:10px;
  }
}