// Variables
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------


// GLOBAL VALUES
// --------------------------------------------------

// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #444 !default;
$gray:                  #666 !default;
$grayLight:             #999 !default;
$grayLighter:           #ddd !default;
$white:                 #fff !default;

// Accent colors
// ----------------------------
$blue:                  #0083e0 !default;
$red:                   #dd3b2e !default;

// Background colors
// ----------------------------
$brown:                 #e4dfcc !default;
$brownDark:             #cdc7ae !default;
$brownDarker:           #8c897d !default;

// Scaffolding
// -------------------------
$bodyBackground:        $brown !default;
$textColor:             $brownDarker !default;
$wellTextColor:         $grayDark;

// Links
// -------------------------
$linkColor:             $blue !default;
$linkColorHover:        darken($linkColor, 10%) !default;

// Typography
// -------------------------
$sansFontFamily:        Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace !default;

$baseFontSize:          13px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        20px !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:    inherit !default; // empty to use BS default, @baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         $textColor !default; // empty to use BS default, @textColor

// Buttons
// -------------------------
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            #dfdfe2 !default;
$btnBorder:                         #ccc !default;

$btnPrimaryBackground:              $linkColor !default;
$btnPrimaryBackgroundHighlight:     #006dba !default;

$btnDangerBackground:               $red !default;
$btnDangerBackgroundHighlight:      #b23a31 !default;

$btnInverseBackground:              $brownDark !default;
$btnInverseBackgroundHighlight:     $brownDark !default;

// Forms
// -------------------------
$inputBackground:               $white !default;
$inputBorder:                   #ccc !default;
$inputBorderRadius:             3px !default;
$inputDisabledBackground:       $grayLighter !default;
$formActionsBackground:         #f5f5f5 !default;

// Dropdowns
// -------------------------
$dropdownBackground:            $white !default;
$dropdownBorder:                rgba(0,0,0,.2) !default;
$dropdownLinkColor:             $grayDark !default;
$dropdownLinkColorHover:        $white !default;
$dropdownLinkBackgroundHover:   $linkColor !default;

$dropdownDividerTop:            #e5e5e5 !default;
$dropdownDividerBottom:         $white !default;

// Images
// -------------------------
$navbarBrandLogo:               url('base/logo.png') no-repeat top left;
$navbarBrandHeight:             32px;
$navbarBrandWidth:              111px;


// COMPONENT VARIABLES
// --------------------------------------------------

// Navbar
// -------------------------
$navbarHeight:                    60px !default;
$navbarBackground:                $grayDark !default;
$navbarBackgroundHighlight:       $gray !default;
$navbarText:                      $grayLighter !default;
$navbarTextLinkColor:             $red !default;
$navbarTextLinkColorHover:        darken($navbarTextLinkColor, 10%) !default;
$navbarTextLinkColorActive:       $navbarTextLinkColorHover !default;
$navbarLinkColor:                 $grayLight !default;
$navbarLinkColorHover:            $white !default;
$navbarLinkColorActive:           $navbarLinkColorHover !default;
$navbarLinkBackgroundHover:       transparent !default;
$navbarLinkBackgroundActive:      $navbarBackground !default;
$navbarSearchBackground:          lighten($navbarBackground, 25%) !default;
$navbarSearchBackgroundFocus:     $white;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%) !default;
$navbarSearchPlaceholderColor:    #ccc !default;
$navbarBrandColor:                $navbarLinkColor !default;

// Hero unit
// -------------------------
$heroUnitBackground:              $white !default;
$heroUnitHeadingColor:            $wellTextColor !default;
$heroUnitLeadColor:               $wellTextColor !default;

// Form states and alerts
// -------------------------
$warningText:             lighten($red, 10%) !default;
$warningBackground:       lighten($warningText, 20%) !default;
$warningBorder:           lighten($warningText, 14%) !default;

$errorText:               lighten($red, 10%) !default;
$errorBackground:         lighten($errorText, 20%) !default;
$errorBorder:             lighten($errorText, 14%) !default;

$successText:             lighten($blue, 15%) !default;
$successBackground:       lighten($successText, 25%) !default;
$successBorder:           lighten($successText, 19%) !default;

$infoText:                lighten($blue, 15%) !default;
$infoBackground:          lighten($infoText, 25%) !default;
$infoBorder:              lighten($infoText, 19%) !default;