// IMPORTED STYLE
// the order of this list is vital, DO NOT MODIFIY!
// ------------------------------------------------

@import "variables_overrides";
@import "bootstrap";
@import "bootstrap-overrides/bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";
@import "pages";
@import "devise";
@import "users";
@import "profile_emails";


// FOOTER
// ------

footer{
  position:absolute;
  width:100%;
  left:0;
  background-color:$grayLighter;
  color:$black;
  .container{
    padding:15px 10px;
    h5{
      margin-bottom:5px;
      &.copyright{
        float:left;
        margin:20px 5px 0 0;
      }
    }
    .add-on{
      border-right-width:0px;
      background-color:white;
      color:$gray;
    }
    input{
      border-left-width:0px;
    }
    .span3{
      margin:6px 0 0 0;
    }
    .social-links{
      h5{
        margin-bottom:10px;
        text-align:right;
      }
      a{
        font-size:25px;
        margin-left:10px;
        color:$grayDark;
        &:hover{
          color:$black;
          text-decoration:none;
        }
      }
    }
  }
}

#lang-nav{
  float:right;
  margin-top:65px;
  &.no-footer{
    margin:15px 10px 50px 0;
  }
  // Weird background out of nowhere
  ul.nav{
    margin-bottom:15px;
    .dropdown-toggle{
      background:none;
    }
  }
  .joblr-in{
    margin-right:5px;
    float:right;
  }
  .dropdown-menu{
    min-width: 70px;
  }
}

