// IMPORTED STYLE
// the order of this list is vital, DO NOT MODIFIY!
// ------------------------------------------------

@import "variables-custom";
@import "bootstrap";
@import "bootstrap-custom/bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";
@import "pages";
@import "beta-invite";
@import "devise";
@import "users";
@import "email_sharings";


// FOOTER
// ------------------

footer{
  position:absolute;
  height:90px;
  width:100%;
  left:0;
  margin-top:65px;
  background-color:$grayLighter;
  font-size:14px;
  font-weight:bold;
  line-height:90px;
  .container{
    padding: 0 10px 0 10px;
  }
}

// ARROWS
//
// REFACTOR ME!
// Turn those into a mixin
//
// -----------------------

.arrow-bottom {
  position:relative;
  background:#fff;
  &:after {
    top:30px;
    border:solid transparent;
    content:" ";
    position:absolute;
  }
  &:after {
    left:65px;
    border-top-color:#fff;
    border-width:25px;
    margin-left:-25px;
  }
}
.arrow-left {
  position: relative;
  background: #fff;
  &:after {
    right:99%;
    border:solid transparent;
    content:" ";
    position:absolute;
  }
  &:after {
    border-right-color:#fff;
    border-width:25px;
    top:65px;
    margin-top:-25px;
  }
}

// Forms
// -----

.field_with_errors{
  display:inline-block;
  @extend .control-group.error
}