// IMPORTED STYLE
// the order of this list is vital, DO NOT MODIFIY!
// ------------------------------------------------

@import "mixins";
@import "variables_overrides";
@import "bootstrap";
@import "bootstrap-overrides/bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";
@import "pages";
@import "devise";
@import "users";
@import "profile_emails";


// ACTIVATION BAR
// --------------
#activation-bar{
  .row-fluid{
    &.bar{
      height:20px;
      width:100%;
      padding:20px 0;
      position:absolute;
      left:0;
      top:30px;
      background-color:$grayLighter;
      color:$black;
      z-index:0;
      @include transition(top 0.5s);
      @include transition-delay(0.1s);
      h3{
        font-size:18px;
        font-weight:500;
        margin-left:20px;
        white-space:nowrap;
      }
      h5{
        float:right;
        font-size:12px;
        margin-right:20px;
        white-space:nowrap;
      }
      .span4{
        .progress{
          height:10px;
          margin:5px 0;
          .bar{
            height:10px;
          }
        }
      }
      // tablet
      @media (min-width:768px) and (max-width: 979px){
        padding:10px 0;
        h3{
          font-size:15px;
          margin-left:10px;
        }
        h5{
          margin-right:10px;
          font-size:11px;
        }
      }
    }
    &.margin{
      height:60px;
    }
  }
}


// FOOTER
// ------

footer{
  margin-top:55px;
  position:absolute;
  width:100%;
  left:0;
  background-color:$grayLighter;
  color:$black;
  .container{
    padding:15px 0;
    h5{
      margin-bottom:5px;
      &.copyright{
        float:left;
        margin:20px 5px 0 0;
      }
    }
    .add-on{
      border-right-width:0px;
      background-color:white;
      color:$gray;
    }
    form{
      margin-right:10px;
      .input-prepend{
        display:inline;
        input{
          border-left-width:0px;
        }
      }
      #feedback-sign{
        margin-left:10px;
        font-size:14px;
        line-height:30px;
        display:inline;
      }
      #loader{
        display:inline;
        img{
          vertical-align:top;
          margin-top:7px;
          display:none;
        }
      }
    }
    .social-links{
      float:right;
      a{
        font-size:25px;
        margin-left:10px;
        color:$grayDark;
        &:hover{
          color:$black;
          text-decoration:none;
        }
      }
    }
  }
}


// LANGUAGES NAVIGATION
// --------------------

.lang-nav{
  text-align:right;
  // Weird background out of nowhere
  ul.nav{
    margin-bottom:15px;
    .dropdown-toggle{
      background:none;
    }
  }
  .joblr-in{
    margin-right:5px;
    float:right;
  }
  .dropdown-menu{
    min-width: 70px;
  }
}
