@import "variables-custom";
@import "bootstrap";
@import "bootstrap-responsive";
@import "bootstrap-custom";
@import "pages";
@import "devise";
@import "users";
@import "sharings";
@import "emails";


// RAILS DEBUG FOOTER
// ---------

footer{
  padding-top:100px;
  .debug_dump{
    border:0;
    background: $white;
    color:$textColor;
    @include border-radius(5px);
    @include box-shadow(0 0 2px 1px #ccc);
  }
}

// BUTTONS
// To move in the near future

a.close{
  height:15px;
  width:15px;
  background-image:url('close.png');
  display:inline-block;
  &:hover{
    background-position:-15px 0
  }
}

// ARROWS
// To turn into a mixin
// ------

.arrow-bottom {
  position:relative;
  background:#fff;
  &:after {
    top:30px;
    border:solid transparent;
    content:" ";
    position:absolute;
  }
  &:after {
    left:65px;
    border-top-color:#fff;
    border-width:25px;
    margin-left:-25px;
  }
}
.arrow-left {
  position: relative;
  background: #fff;
  &:after {
    right:99%;
    border:solid transparent;
    content:" ";
    position:absolute;
  }
  &:after {
    border-right-color:#fff;
    border-width:25px;
    top:65px;
    margin-top:-25px;
  }
}

// OLD CRAP TO BE DELETED
// FIXE ME!
// ---------

// Forms
// -------------
.field_with_errors {
  display:inline-block;
}

// Modals
// -------------
.pic {
  width:50px;
  height:50px;
  &.social {
    margin:5px 7px 20px -2px;
  }
  &.current {
    margin-bottom:5px
  }
  &.selected {
    @include box-shadow(0 0 4px 1px #0073CC);
  }
}