.span3.hidden-phone
.span6
  .row-fluid
    .well#sharing_email
      %h1=t 'sharing_emails.already_answered.title'
      .lead
        =t 'sharing_emails.already_answered.thank_you', fullname: @sharing_email.profile.user.fullname
        %br/
        %br/
        =t 'sharing_emails.already_answered.close_page'