.span3.hidden-phone
.span6
  .row-fluid
    .well#sharing_email
      %h1=t 'sharing_emails.decline.thank_you'
      .lead=t 'sharing_emails.decline.close_page', fullname: @sharing_email.profile.user.fullname