.container
  .row-fluid
    .span5
      %h5 Help us make Joblr better
      .input-prepend
        .add-on
          %i.icon-comments
        %input.span11{type: 'text', placeholder: 'Let us know about your ideas, questions, complaints, etc.'}
    .span7
      .pull-right
        %p Follow us:
        .social-links
          %a{href: 'http://twitter.com/joblr_co', target: 'blank'}
            .icon-twitter{rel: 'tooltip', title: 'Joblr on Twitter'}
          %a{href: 'http://fb.me/joblr.co', target: 'blank'}
            .icon-facebook{rel: 'tooltip', title: 'Joblr on Facebook'}
          %a{href: 'http://linkedin.com/company/joblr', target: 'blank'}
            .icon-linkedin{rel: 'tooltip', title: 'Joblr on LinkedIn'}