%ul.nav
  - if current_user.admin?
    %li= link_to t('pages.admin.title_alt'), admin_path
    %li= link_to t('pages.style_tile.title'), style_tile_path
  %li= link_to t('devise.registrations.account_settings'), edit_user_registration_path
  %li= link_to t('devise.sessions.logout'), destroy_user_session_path, method: 'delete'