.pull-right
  %ul.nav
    - if user_signed_in?
      %li.dropdown
        %a.dropdown-toggle{src: '#', 'data-toggle' => 'dropdown'}
          = image_tag(current_user.image_url(:thumb), style: 'width:30px; height:30px; margin-right:10px') unless current_user.image.blank?
          = current_user.fullname
          %b.caret
        %ul.dropdown-menu
          %li= link_to t('devise.registrations.account_settings'), edit_user_registration_path
          %li= link_to t('devise.sessions.logout'), destroy_user_session_path, method: 'delete'