%ul.nav.pull-right
  %li.dropdown
    %a.dropdown-toggle{src: '#', 'data-toggle' => 'dropdown'}
      =t "footer.locales.#{%w(en fr).include?(I18n.locale.to_s) ? I18n.locale.to_s : 'en'}"
      .caret
    %ul.dropdown-menu
      - %w(en fr).each do |locale|
        - unless locale == I18n.locale.to_s || (!%w(en fr).include?(I18n.locale.to_s) && locale == 'en')
          %li= link_to t("footer.locales.#{locale}"), url_for(locale: locale)
.joblr-in=t 'footer.joblr_in'